<a href="https://colab.research.google.com/github/libclick/DATA205/blob/main/Towing_in_Montgomery_County.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
import json
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [110]:
# get data: Towing Report from Montgomery Data
towing = pd.DataFrame(requests.get('https://data.montgomerycountymd.gov/resource/i6vn-3s6e.json').json())
towing.head()

                  tow_date  ... :@computed_region_rbt8_3x7n
0  2020-12-31T00:00:00.000  ...                           1
1  2020-12-31T00:00:00.000  ...                           1
2  2020-12-31T00:00:00.000  ...                           1
3  2020-12-31T00:00:00.000  ...                          21
4  2020-12-31T00:00:00.000  ...                          21

[5 rows x 16 columns]

In [111]:
#capitalize on first letter of each string in towing.notes, towing.story_company, towing.location, towing.city
#NOTE ISSUE WITH APOSTROPHE IN Henry'S - fix later with if statement for this one case?
towing.loc[:,"notes"] = towing.loc[:,"notes"].str.title()
towing.loc[:,"story_company"] = towing.loc[:,"story_company"].str.title()
towing.loc[:,"location"] = towing.loc[:,"location"].str.title()
towing.loc[:,"city"] = towing.loc[:,"city"].str.title()
towing.head()
towing.dtypes

tow_date                       object
vehicle_year                   object
vehicle_make                   object
vehicle_model                  object
tow_reason                     object
story_company                  object
notes                          object
incident_date                  object
location                       object
city                           object
geo_location                   object
:@computed_region_vu5j_pcmz    object
:@computed_region_tx5f_5em3    object
:@computed_region_kbsp_ykn9    object
:@computed_region_d7bw_bq6x    object
:@computed_region_rbt8_3x7n    object
dtype: object

In [112]:
#TOO COMPLICATED EXPANDING COLUMMNS OUT AND ITERATING ACROSS WITH SERIES OF ACTIVE COMPANIES - KEEP CHUNKS FOR REFERENCE ONLY
# place note columns into notes_series; then create notes_df, a panda of notes column strings expanded into many columns
# notes_series = pd.Series(towing["notes"])
# notes_df = notes_series.str.split(pat=" ", n=10, expand=True)   
# print(notes_df)
#towing

In [113]:
company = pd.DataFrame(requests.get('https://data.montgomerycountymd.gov/resource/dngn-wp3e.json').json())
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   registration_type                            1000 non-null   object
 1   corporation_name                             793 non-null    object
 2   trade_name                                   996 non-null    object
 3   business_address                             958 non-null    object
 4   city                                         976 non-null    object
 5   state                                        976 non-null    object
 6   zip                                          571 non-null    object
 7   business_tel_no                              968 non-null    object
 8   niase_certified_mechanical_employees_number  1000 non-null   object
 9   issue_date                                   1000 non-null   object
 10  expire_date                                  1000 non-null   object
 11  registration_no                              1000 non-null   object
 12  geolocation                                  976 non-null    object
 13  :@computed_region_vu5j_pcmz                  917 non-null    object
 14  :@computed_region_tx5f_5em3                  917 non-null    object
 15  :@computed_region_kbsp_ykn9                  917 non-null    object
 16  :@computed_region_d7bw_bq6x                  962 non-null    object
 17  :@computed_region_rbt8_3x7n                  918 non-null    object
 18  storage_location                             114 non-null    object
 19  storage_city                                 100 non-null    object
 20  storage_state                                99 non-null     object
 21  storage_zip                                  97 non-null     object
 22  storage_phone                                87 non-null     object
 23  storage_location2                            9 non-null      object
 24  business_address2                            53 non-null     object
dtypes: object(25)
memory usage: 195.4+ KB

In [114]:
#convert expire date and issue date to datetime object
company['expire_date']= pd.to_datetime(company['expire_date'])
company['issue_date']= pd.to_datetime(company['issue_date'])

In [115]:
#get actively licensed companies only and place in active_company dataframe - REFERENCE
#import datetime as dt
#dt_cutoff = dt.datetime(2020, 12, 31, 11, 59, 59)
#active_company = company[(company["expire_date"] > company["issue_date"]) & (company["expire_date"] > dt_cutoff)]
#active_company.info()
#type(active_company)

In [116]:
#active_company.head()

In [117]:
#clean column data as before to "title" type capitalization - REFERENCE
#active_company.loc[:,"corporation_name"] = active_company.loc[:,"corporation_name"].str.title()
#active_company.loc[:,"trade_name"] = active_company.loc[:,"trade_name"].str.title()
#active_company.loc[:,"business_address"] = active_company.loc[:,"business_address"].str.title()
#active_company.loc[:,"city"] = active_company.loc[:,"city"].str.title()
#active_company.head()

In [118]:
#Create active list of trade names for search/match of "notes" in towing dataset; create active_series as well - REFERENCE
#active_names = list(active_company["trade_name"])
##actives_names = list(active_names)
#print(active_names)
#print(active_names.index)
#len(active_names)

#active_series = pd.Series(active_names)
#print(active_series)

In [119]:
# load json file from dataMontgomery: 2010 CENSUS DATASET will be used to link track code to latitude/longitude info for demographics dataset
codes = pd.DataFrame(requests.get('https://data.montgomerycountymd.gov/resource/y2z8-tsry.json').json())
codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   the_geom    614 non-null    object
 1   aian        614 non-null    object
 2   aland10     614 non-null    object
 3   asian       614 non-null    object
 4   awater10    614 non-null    object
 5   bg2010      614 non-null    object
 6   black       614 non-null    object
 7   blkgrp      614 non-null    object
 8   county      614 non-null    object
 9   hl          614 non-null    object
 10  latitude    614 non-null    object
 11  longitude   614 non-null    object
 12  mult_race   614 non-null    object
 13  name        614 non-null    object
 14  nh_aian     614 non-null    object
 15  nh_asian    614 non-null    object
 16  nh_black    614 non-null    object
 17  nh_mult_ra  614 non-null    object
 18  nh_nhopi    614 non-null    object
 19  nh_other    614 non-null    object
 20  nh_white    614 non-null    object
 21  nhl         614 non-null    object
 22  nhopi       614 non-null    object
 23  objectid    614 non-null    object
 24  one_race    614 non-null    object
 25  other       614 non-null    object
 26  shape_area  614 non-null    object
 27  shape_len   614 non-null    object
 28  state       614 non-null    object
 29  stusab      614 non-null    object
 30  sumlev      614 non-null    object
 31  total       614 non-null    object
 32  tract       614 non-null    object
 33  white       614 non-null    object
dtypes: object(34)
memory usage: 163.2+ KB

In [120]:
codes.head()

                                            the_geom  aian  ...     tract   white
0  {'type': 'MultiPolygon', 'coordinates': [[[[-7...   0.0  ...  701317.0   979.0
1  {'type': 'MultiPolygon', 'coordinates': [[[[-7...  41.0  ...  703902.0  1528.0
2  {'type': 'MultiPolygon', 'coordinates': [[[[-7...   7.0  ...  7.022E+5   797.0
3  {'type': 'MultiPolygon', 'coordinates': [[[[-7...  10.0  ...  701313.0  1078.0
4  {'type': 'MultiPolygon', 'coordinates': [[[[-7...  19.0  ...  703404.0   774.0

[5 rows x 34 columns]

In [121]:
#MODIFY TO LOAD CSV DIRECTLY - NO JSON
# read demographics dataset from formatted csv; to be translated with codes dataframe and combined with towing dataset 
#demographics = pd.read_csv("")

In [122]:
x=-1
rowcount = 998
while x <= rowcount :
  x=x+1
  if towing.iloc[x, 5] == "Tcl" :
    print("get company from notes column")

 
  else : 
    print(x)
#towing.head()
#Series.str.replace(pat, repl, n=- 1, case=None, flags=0, regex=None)
                                              #towing("story_company") = string.match(active.series

0
1
2
get company from notes column
get company from notes column
5
get company from notes column
7
8
9
10
get company from notes column
get company from notes column
get company from notes column
14
15
get company from notes column
get company from notes column
18
get company from notes column
get company from notes column
21
get company from notes column
23
24
25
26
get company from notes column
get company from notes column
get company from notes column
get company from notes column
31
get company from notes column
33
34
35
36
get company from notes column
38
get company from notes column
get company from notes column
41
42
43
44
45
46
47
48
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
54
55
get company from notes column
57
58
59
60
61
get company from notes column
63
64
65
get company from notes column
get company from notes column
68
get company from notes column
get company from notes column
get company from notes column
get company from notes column
73
get company from notes column
75
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
82
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
88
get company from notes column
90
get company from notes column
92
93
94
get company from notes column
get company from notes column
get company from notes column
get company from notes column
99
100
get company from notes column
102
get company from notes column
get company from notes column
105
106
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
113
114
115
116
117
get company from notes column
get company from notes column
120
121
122
get company from notes column
124
125
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
135
136
get company from notes column
get company from notes column
get company from notes column
get company from notes column
141
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
152
get company from notes column
get company from notes column
get company from notes column
get company from notes column
157
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
164
165
get company from notes column
get company from notes column
get company from notes column
169
get company from notes column
171
get company from notes column
173
get company from notes column
175
get company from notes column
177
178
get company from notes column
get company from notes column
181
get company from notes column
get company from notes column
get company from notes column
get company from notes column
186
get company from notes column
188
get company from notes column
190
get company from notes column
get company from notes column
get company from notes column
get company from notes column
195
196
get company from notes column
get company from notes column
199
get company from notes column
get company from notes column
get company from notes column
203
get company from notes column
205
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
218
219
220
get company from notes column
get company from notes column
get company from notes column
224
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
230
get company from notes column
get company from notes column
233
get company from notes column
get company from notes column
get company from notes column
237
get company from notes column
239
get company from notes column
241
242
get company from notes column
244
get company from notes column
get company from notes column
get company from notes column
248
get company from notes column
get company from notes column
251
252
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
264
get company from notes column
266
get company from notes column
268
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
274
275
get company from notes column
277
get company from notes column
279
get company from notes column
281
282
get company from notes column
284
get company from notes column
286
287
288
get company from notes column
290
get company from notes column
get company from notes column
293
get company from notes column
get company from notes column
get company from notes column
297
298
get company from notes column
get company from notes column
get company from notes column
get company from notes column
303
304
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
312
get company from notes column
get company from notes column
get company from notes column
316
get company from notes column
get company from notes column
319
get company from notes column
321
get company from notes column
get company from notes column
324
325
326
327
get company from notes column
get company from notes column
get company from notes column
331
get company from notes column
333
334
335
get company from notes column
337
get company from notes column
339
get company from notes column
341
342
get company from notes column
get company from notes column
get company from notes column
346
get company from notes column
348
349
get company from notes column
get company from notes column
get company from notes column
get company from notes column
354
get company from notes column
get company from notes column
get company from notes column
358
get company from notes column
get company from notes column
361
362
get company from notes column
get company from notes column
get company from notes column
get company from notes column
367
368
369
get company from notes column
371
372
373
374
375
get company from notes column
get company from notes column
get company from notes column
379
get company from notes column
381
382
383
384
get company from notes column
get company from notes column
get company from notes column
get company from notes column
389
get company from notes column
get company from notes column
392
393
get company from notes column
get company from notes column
396
get company from notes column
get company from notes column
399
400
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
406
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
417
418
get company from notes column
get company from notes column
get company from notes column
422
get company from notes column
get company from notes column
425
426
get company from notes column
428
429
get company from notes column
431
432
433
get company from notes column
get company from notes column
get company from notes column
437
get company from notes column
get company from notes column
get company from notes column
get company from notes column
442
443
444
445
get company from notes column
447
448
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
454
455
456
get company from notes column
get company from notes column
459
get company from notes column
get company from notes column
462
get company from notes column
get company from notes column
get company from notes column
466
467
468
get company from notes column
get company from notes column
get company from notes column
472
get company from notes column
474
get company from notes column
get company from notes column
477
get company from notes column
get company from notes column
get company from notes column
481
482
get company from notes column
484
get company from notes column
486
get company from notes column
488
get company from notes column
get company from notes column
get company from notes column
492
get company from notes column
494
495
get company from notes column
497
get company from notes column
get company from notes column
get company from notes column
501
get company from notes column
503
504
get company from notes column
get company from notes column
get company from notes column
get company from notes column
509
510
get company from notes column
512
get company from notes column
514
get company from notes column
get company from notes column
517
get company from notes column
519
get company from notes column
get company from notes column
522
get company from notes column
get company from notes column
get company from notes column
526
527
get company from notes column
529
530
get company from notes column
get company from notes column
get company from notes column
534
get company from notes column
536
get company from notes column
get company from notes column
get company from notes column
get company from notes column
541
542
543
get company from notes column
get company from notes column
get company from notes column
547
548
get company from notes column
550
get company from notes column
get company from notes column
get company from notes column
get company from notes column
555
556
get company from notes column
get company from notes column
559
560
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
566
get company from notes column
get company from notes column
get company from notes column
get company from notes column
571
572
get company from notes column
get company from notes column
get company from notes column
get company from notes column
577
get company from notes column
get company from notes column
get company from notes column
581
582
get company from notes column
584
585
586
get company from notes column
get company from notes column
get company from notes column
get company from notes column
591
get company from notes column
593
get company from notes column
595
596
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
605
get company from notes column
607
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
626
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
633
634
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
648
get company from notes column
get company from notes column
get company from notes column
652
get company from notes column
get company from notes column
get company from notes column
get company from notes column
657
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
670
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
678
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
687
688
689
690
691
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
697
get company from notes column
699
get company from notes column
701
702
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
708
get company from notes column
get company from notes column
get company from notes column
712
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
719
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
727
get company from notes column
get company from notes column
get company from notes column
731
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
737
get company from notes column
get company from notes column
get company from notes column
get company from notes column
742
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
749
get company from notes column
get company from notes column
get company from notes column
753
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
759
760
761
get company from notes column
get company from notes column
get company from notes column
765
get company from notes column
get company from notes column
768
get company from notes column
get company from notes column
get company from notes column
772
get company from notes column
get company from notes column
get company from notes column
get company from notes column
777
778
get company from notes column
get company from notes column
781
get company from notes column
get company from notes column
784
785
get company from notes column
get company from notes column
788
get company from notes column
790
get company from notes column
get company from notes column
793
get company from notes column
get company from notes column
796
797
get company from notes column
get company from notes column
get company from notes column
get company from notes column
802
803
get company from notes column
get company from notes column
806
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
819
get company from notes column
821
get company from notes column
823
824
get company from notes column
get company from notes column
get company from notes column
828
get company from notes column
get company from notes column
get company from notes column
832
833
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
839
get company from notes column
get company from notes column
842
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
848
get company from notes column
get company from notes column
851
852
853
854
855
get company from notes column
857
858
get company from notes column
get company from notes column
861
get company from notes column
get company from notes column
864
get company from notes column
get company from notes column
get company from notes column
get company from notes column
869
get company from notes column
871
get company from notes column
get company from notes column
874
875
876
get company from notes column
878
get company from notes column
880
get company from notes column
882
get company from notes column
884
get company from notes column
886
887
get company from notes column
get company from notes column
get company from notes column
891
892
get company from notes column
get company from notes column
get company from notes column
896
897
898
get company from notes column
900
get company from notes column
get company from notes column
903
get company from notes column
get company from notes column
get company from notes column
get company from notes column
908
get company from notes column
get company from notes column
911
get company from notes column
913
914
915
get company from notes column
917
get company from notes column
919
get company from notes column
get company from notes column
922
923
924
get company from notes column
get company from notes column
get company from notes column
928
929
get company from notes column
get company from notes column
get company from notes column
get company from notes column
934
935
get company from notes column
937
get company from notes column
get company from notes column
get company from notes column
941
get company from notes column
943
get company from notes column
get company from notes column
get company from notes column
947
948
get company from notes column
950
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
956
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
get company from notes column
963
get company from notes column
965
966
967
get company from notes column

In [123]:
towing.head()

                  tow_date  ... :@computed_region_rbt8_3x7n
0  2020-12-31T00:00:00.000  ...                           1
1  2020-12-31T00:00:00.000  ...                           1
2  2020-12-31T00:00:00.000  ...                           1
3  2020-12-31T00:00:00.000  ...                          21
4  2020-12-31T00:00:00.000  ...                          21

[5 rows x 16 columns]